@media screen and (max-width:800px) {
    .carousel-inner .item2 img {
        height: 400px;
    }

    .carousel-inner .item1 img {
        height: 400px;
    }



    .container .background .titulo-home {

        font-size: 2em;
    }



    .background2 {
        display: none;
    }



    #home {
        height: none;
    }

}

@media screen and (max-width:990px) {
    .background2 {
        display: none;
    }
}

@media screen and (min-width:400px) {}