:root {
    --cor-primaria: #ffffff;
    /* Vermelho */
    --cor-secundaria: #00ff00;
    /* Verde */
    --cor-botoes: #00ff88;
    /* Azul */
}



.navbar-nav .nav-link.active {
    color: var(--cor-primaria);
}


.nav-link {
    text-align: center;
}

.nav .nav-item.nav-link {
    background-color: green;
    width: 100px;
}

section {
    background-color: rgb(206, 245, 62);
    /* max-height: 100vh; */
    padding-top: 70px;


}

/* home */
#home {
    height: 90vh;
}

.background .titulo-home {
    font-size: 4em;
    margin-bottom: .5em;
    border-bottom: 1px solid rgb(206, 245, 62);
    border-left: 1px solid rgb(206, 245, 62);
}

.background .p-home {
    font-size: 1.2;
}

.background button {
    margin-top: 2em;
    width: 50%;
    background-color: #212121;
    border: 3px solid rgb(206, 245, 62);

}

.container .background {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 1em;
    width: 100%;
    color: #212121;
    height: 85vh;
    background-color: #fbfbfb;
    border-radius: 0 100px 100px 0;

}

.container .background2 {
    padding: 1em;
    width: 100%;
    color: white;
    height: 85vh;
    background-color: #212121;
    border-radius: 100px 0px 0 100px;
    background-image: url(./img/An\ owner\ of\ a\ c\ 1.png);
    background-size: cover;
}




.container-fluid {
    /* border-left: 3px solid #fff; */

    background-color: rgb(206, 245, 62);
}



header {
    /* regras para fazer o navbar ficar fixo e acompanhar a tela */
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    /* padding na section para que podemos ver o inicio da sessao quando clicarmos no id */
}



/* carousel */

.carousel-img-1 {
    background-image: url(./img/papel-de-parede.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    opacity: 0.95;
    border-radius: 150px 150px 0 0;

}

.carousel-img-2 {
    background-image: url(./img/papel-de-parede-2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    opacity: 0.95;
    border-radius: 150px 150px 0 0;


}

section h1 {
    color: #212121;
    border-bottom: 3px solid #fff;
    margin-bottom: 1em;
    padding-bottom: 25px;
}

.carousel-item {
    height: 70vh;
}

.carousel-inner .item2 img {
    max-height: 729px;

}

.carousel-item img {
    border-radius: 100px 100px 0 0;
}

/* cards */
#cards h1 {
    color: #fff;
}

.card {
    margin-bottom: 8em;
    border-left: 4px solid rgb(206, 245, 62);
    border-bottom: 2px solid rgb(206, 245, 62);



}

.card a {
    background-color: #212121;
    border: 3px solid rgb(206, 245, 62);
}



.card .card-body {
    height: 12.em;
}

.fluid-cards {
    background-color: #212121;
    width: 100%;
    height: 100%;
    border-left: 3px solid rgb(206, 245, 62);
    border-top: 3px solid rgb(206, 245, 62);
    border-right: 3px solid rgb(206, 245, 62);


}

#cards {
    background-color: #212121;

}